.task-list-container {
    background-color: #fafafa;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: .5em 0;

    .list-title {
        text-align: center;
    }
}