.app-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0.5em 1em;
    background-color: #fafafa;

    .form-title {
        text-align: center;
        width: 100%;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        margin: 0.2em 0;
    }

    .submit-row {
        align-self: center;
        flex-direction: row;

        * {
            margin: 0 0.1em;
        }
    }

    input[type="text"] {
        padding: 0.2em;
        min-width: 20em;
    }
}
